[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/berdtree"]
	path = bundle/berdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = git@github.com:groenewege/vim-less.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = git@github.com:tpope/vim-cucumber.git
[submodule "bundle/vim-rspec"]
	path = bundle/vim-rspec
	url = git@github.com:thoughtbot/vim-rspec.git
[submodule "bundle/vim-colorschemes"]
	path = bundle/vim-colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/angular.vim"]
	path = bundle/angular.vim
	url = git@github.com:sindrenm/angular.vim.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "bundle/vim-slim"]
	path = bundle/vim-slim
	url = git@github.com:slim-template/vim-slim.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = git@github.com:Yggdroot/indentLine.git
[submodule "bundle/funcoo"]
	path = bundle/funcoo
	url = https://github.com/rizzatti/funcoo.vim.git
[submodule "bundle/dash"]
	path = bundle/dash
	url = https://github.com/rizzatti/dash.vim.git
[submodule "bundle/vim-angular"]
	path = bundle/vim-angular
	url = git@github.com:burnettk/vim-angular.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundle/dash.vim"]
	path = bundle/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
